node_modules/
package-lock.json
.netrwhist

*-creds.vim
*-creds.lua

# sensitive information
git/identities
git/credentials

# Dotter
.dotter/cache.toml
.dotter/cache/
.dotter/local.toml

# Package-related things
nvim/lazy-lock.json
