node_modules/
package-lock.json
.netrwhist

*-creds.vim
*-creds.lua

# Generated dynamically by dhall, contains install-specific details
ruby/gemrc.yaml

# sensitive information
git/identities
git/credentials

# Dotter
.dotter/cache.toml
.dotter/cache/
.dotter/local.toml
