snippet sec "Section symbol §" b
§
endsnippet

snippet -- "Em-dash symbol —" b
—
endsnippet

snippet yen "Yen symbol ￥" b
￥
endsnippet

snippet pound "Pound symbol ￡" b
￡
endsnippet

snippet euro "Euro symbol €" b
€
endsnippet

snippet cent "Cents symbol ￠" b
￠
endsnippet
