# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)

bar {
    font pango:BlexMono Nerd Font 11
    position bottom
    status_command i3status-rs
    colors {
        separator #666666
        background #222222
        statusline #dddddd
        focused_workspace #0088CC #0088CC #ffffff
        active_workspace #333333 #333333 #ffffff
        inactive_workspace #333333 #333333 #888888
        urgent_workspace #2f343a #900000 #ffffff
    }
}

# vim: ft=i3config
